@{
    Layout = null;
}
<h1>About</h1>

    <ul>1. Name: Md. Tanvir Ahmed</ul>
    <ul>2. Father's Name: Md. Hossain Ali hasan</ul>
    <ul>3. Mother's Name: Most. Mozrefa Begum </ul>
    <ul>4. Date of Birth: 21.12.2000</ul>
    <ul>5. Gender: Male</ul>
    <ul>6. Nationality: Bangladeshi</ul>
