@{
    Layout = null;
}

<h1>Contact</h1>

        <ul>7. Phone Number: 01701049603</ul>
        <ul>8. Present Address:</ul>
            <ol>
                Village: Kuratuli,
                Thana: Kuril,
                District: Dhaka
            </ol>
        <div>
        <ul>9. Permanent Address:</ul>
            <ol>
                Village: Ajaipur,
                Post: Bottolahat,
                District: Chapai Nawabganj.
            </ol>
        </div>

