
@{
    Layout = null;
}
<style>
    div.justified {
        display: flex;
        justify-content: center;
    }
</style>

<div class="justified">
    <h1>Education</h1>
</div>


<!DOCTYPE html>
<html>
<body>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>


    <table style="width:100%">
        <tr>
            <th>Institution</th>
            <th>Subject</th>
            <th>Passing Year</th>
        </tr>
        <tr>
            <td>American International Unniversity-Bangladesh</td>
            <td>Bsc in Computer Science aand Engineering</td>
            <td>2023</td>
        </tr>

    </table>

    <p>It has been a great journey studying at AIUB.</p>

</body>
</html>

