
@{
    Layout = null;
}

<h1>Projects</h1>
<p>
    <ul>1. University Management System.</ul>
    <ul>2. Hospital Management System.</ul>
    <ul>3. E-Commerce Analysis.</ul>
    <ul>4. Hotel Management System</ul>
</p>

